mixin seccion(seccion,descripcion)
	h1=seccion
	a.t-plomo.t-oswald(href="#")=descripcion
		i.t-rojo.fa.fa-angle-double-down
mixin seccion-descripcion(descripcion)
	a.t-plomo.t-oswald(href="#")=descripcion
		i.t-rojo.fa.fa-angle-double-down
mixin articulo(fecha,titulo,url,subtitulo,adelanto)
	li
		.row.art
			.row.fecha.text-center
				p.text-10=fecha
				a(href="#")
					h4=titulo
			.row.autor
				.col-xs-5
					+imagen(url)
				.col-xs-7
					a(href="#")
						h5=subtitulo
					p.text-10=adelanto
//- mixin para seccion columnista
mixin columnista(url,nombre,frase)
	li
		.row.columnista
			.col-xs-5
				+imagen(url)
			.col-xs-7
				a(href="#")
					h4=nombre
				p=frase